.container {
    height: 700px;
    width: 500px;
    background-color:darkgrey;
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4px;
    padding: 10px;
}

.display {
    width: 480px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.op.clear, .op.delete {
    height: 60px;
    width: 225px;
    text-align: center;
    border-radius: 8px;
}

.op.clear {
    background-color: #FFCCCB;
}

.delete {
    background-color:aquamarine;
}

.op {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    
}

.display-top, .display-bottom {
    margin-right: 16px;
    width: 460px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    max-height: 2em;
    text-align: right;
}

.op.math {
    background-color: #FFFFE0;
}